mule_ws/enroll-consumer/src/main/app/enroll-consumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xsi:schemaLocation="
	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.5/mule.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
	http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
	http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

 	<file:connector name="inboundFileConnector" pollingFrequency="5000" streaming="false" autoDelete="false"/>    

<amqp:connector name="amqpAutoAckLocalhostConnector"
       host="172.17.0.2"
       port="5672"
       username="admin"
        password="admin"
                />

<flow name="echoFlow1" doc:name="echoFlow1">

<amqp:inbound-endpoint queueName="q01-enroll" exchangeName="exch01-topic"
                      connector-ref="amqpAutoAckLocalhostConnector" />

           <logger message="************ consuming message #[payload] ******************" level="WARN" />

    </flow>                
</mule>
